<ion-header>
  <ion-toolbar color="primary">
    <ion-title>FitStore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/categorias">
    Ver categorias
  </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Productos de prueba</ion-label>
    </ion-list-header>

    <ion-item button routerLink="/producto/1">
      <ion-label>Producto de prueba 1</ion-label>
    </ion-item>

    <ion-item button routerLink="/producto/2">
      <ion-label>Producto de prueba 2</ion-label>
    </ion-item>

    <ion-item button routerLink="/producto/3">
      <ion-label>Producto de prueba 3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>